* {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  --color--headertext: #979797;
}

.header {
  color: var(--color--headertext);

  font-size: 34px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header.align {
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-right.header {
  padding-left: 20px;

  display: flex;
  flex-direction: row;
}

.details {
  display: flex;
  align-items: flex-end;
}

.details-icon {
  padding-left: 230px;
  gap: 8.5px;
}
