.product-page {
  padding-top: 100px;

  margin: auto;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-latest {
  color: var(--color--headertext);

  padding-left: 30px;
  font-size: 40px;
  line-height: 28px;

  display: flex;
  align-items: center;
}

.header-latest > span {
  color: #263238;

  padding-left: 50px;

  font-weight: bold;
}

.time-ago {
  color: #0e4da4;

  padding: 35px 0 10px 20px;
}

.txt {
  color: #263238;

  width: 394px;
  padding-left: 20px;

  font-size: 40px;
  font-weight: bold;
}

.desing-txt.txt {
  padding-top: 20px;

  font-weight: normal;
  font-size: 30px;
}

.footer-bar {
  padding-top: 50px;
}

.bar-design {
  color: white;
  background-color: green;

  width: 512px;

  padding-right: 20px;

  border-radius: 11px 11px 0px 0px;

  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 39px;
}

.bookmark {
  background-color: #263238;

  padding: 25px;
  font-size: 32px;
  bottom: 15px;
  left: 15px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08),
    0px 1px 12px rgba(0, 0, 0, 0.04);
  border-radius: 40px;

  position: absolute;
}

.bar-design > i {
  padding: 24px 0 24px 0;
  font-size: 25px;
}
