.form-controls {
  margin: auto;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-header {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.user {
  padding-bottom: 50px;

  position: relative;
}

label.info-text {
  background-color: white;

  top: -10px;
  left: 15px;

  padding: 2px;

  position: absolute;
  z-index: 2;
}

input.form-input {
  padding: 10px;
  border-radius: 8px;

  border: 1px solid #263238;
}

input.form-input.active {
  border: 1px solid #1bb55c;
}

.account {
  padding-bottom: 30px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.account > i {
  font-size: 32px;
}

.account.add {
  color: #1bb55c;
}

.checkbox-control {
  display: flex;
  flex-direction: row;
  gap: 160px;
}

.checkbox-control-left {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.checkbox-control-right {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.checkbox-asign {
  display: flex;
  align-items: center;
  gap: 40px;
}


input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

input[type="radio"] {
  width: 26px;
  height: 26px;

  position: relative;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  border: 2px solid grey;
  border-radius: 50%;
}


input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  border: 2px solid red;
  border-radius: 50%;

}